<!DOCTYPE html>
<html>
<head>
  <title>Hotel PDF</title>
  <!-- Add any CSS styles or inline styles if needed -->
</head>
<body>
  <!--
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>-->
  <!-- Add more content as needed -->
</body>
</html>